.post {
  padding-top: 56px;
}
.pb-5, .py-5 {
  padding-bottom: 0.5rem!important;
  padding-top: 0.5rem!important;
}
.single_article {
margin:0px !important
}
.single_post{
  background: rgba(0,0,0,.82);
}