

#profile-img {
    height:180px;
}
.text-center {
    text-align: center !important;
    margin: 0 auto;
    
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background{
    background-image: url('https://i.imgur.com/xhiRfL6.jpg');
    height: 100vh
}
.size{
    width:100%;
    padding: 12px;
}
/* increase edit modal width */
@media (min-width: 576px){
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
}
